@model ErrorUnsupportedBrowser

@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>


<h3>Unsupported browser</h3>
<p>
    Swapping to <strong>Good</strong> browser is recommended.
</p>
<p>
    <strong>Get yourself a chrome</strong>

</p>